.input-search {
	background-color: #100e19 !important;
	border-color: rgba(255, 255, 255, 0.219)!important;
	margin-top: 31px;
	font-weight: 500 !important;
	width: 150px !important;
	color: white !important;
	padding: 2px !important;
	padding-left: 7px !important;
}
.input-search:active{
	background-color: #100e19 !important ;	
}

.input-search:hover{
	border-color:white!important ;	
}
